In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

rootPath = "/Users/halit/Downloads/research/ml-10M100K/"
tagsPath = rootPath + "tags.dat"
ratingsPath = rootPath +"ratings.dat"
moviesPath = rootPath + "movies.dat"

tag_headers = ['user_id', 'movie_id', 'tag', 'timestamp']
rating_headers = ['user_id', 'movie_id', 'rating', 'timestamp']
movie_headers = ['movie_id', 'title', 'genres']

In [2]:
tags = pd.read_table(tagsPath, sep='::', header=None, names=tag_headers)

/Users/halit/venv/lib/python2.7/site-packages/pandas/io/parsers.py:648: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators; you can avoid this warning by specifying engine='python'.
  ParserWarning)

In [3]:
movies = pd.read_table(moviesPath,
                       sep='::', header=None, names=movie_headers)

movie_titles = movies.title.tolist()
movies.head()

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
ratings = pd.read_table(ratingsPath, sep=',', header=None, names=rating_headers)

   user_id  movie_id  rating  timestamp
0        1       122       5  838985046
1        1       185       5  838983525
2        1       231       5  838983392
3        1       292       5  838983421
4        1       316       5  838983392

In [6]:
ratings.head() 
tags.head()
movies.head()

,movie_id,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [7]:
df = movies.join(ratings, on=['movie_id'], rsuffix='_r').join(tags, on=['movie_id'], rsuffix='_t')
del df['movie_id_r']
del df['user_id_t']
del df['movie_id_t']
del df['timestamp_t']

In [8]:
df.head()

,movie_id,title,genres,user_id,rating,timestamp,tag
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,1,5,838983525,politics
1,2,Jumanji (1995),Adventure|Children|Fantasy,1,5,838983392,satire
2,3,Grumpier Old Men (1995),Comedy|Romance,1,5,838983421,chick flick 212
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,1,5,838983392,hanks
4,5,Father of the Bride Part II (1995),Comedy,1,5,838983392,ryan

In [12]:
rp = df.pivot_table(columns=['movie_id'],index=['user_id'],values='rating', fill_value =0)
rp.head()

movie_id,1,2,3,4,5,6,7,8,9,10,...,65006,65011,65025,65027,65037,65088,65091,65126,65130,65133
user_id,,,,,,,,,,,,,,,,,,,,,
1,5,5,5,5,5,5,5,5,5,5,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [13]:
Q = rp.values

In [15]:
Q.shape

(303, 10681)

In [16]:
#transform into implicit feedback
W = Q>0.5
W[W == True] = 1
W[W == False] = 0
# To be consistent with our Q matrix
W = W.astype(np.float64, copy=False)

In [17]:
W

array([[ 1.,  1.,  1., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       ...,
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  0.,  0.,  0.],
       [ 0.,  0.,  0., ...,  1.,  1.,  1.]])

In [18]:
lambda_ = 0.1
n_factors = 100
m, n = Q.shape
n_iterations = 20